name: Sheriff

on:
  pull_request:
    types: [opened, edited]

permissions:
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sheriff:
    runs-on: ubuntu-latest
    steps:
      - uses: teneplaysofficial/sheriff@v4
